
/*#padre{
background-color: #F6E3CE;
text-align: center;
width:50%;
margin-left:25%;
}
#tbpadre, td{
border:0px solid black;
margin-right: auto;
margin-left: auto;
}
#mostrar{
height: 150px;
background-color: white;
border: 1px solid gray;
border-radius: 5px;
margin-left: 2%;
margin-right: 2%;
}
#padre{
border-radius: 5px;
border: 1px solid gray;
}

body{
background-size: 100vw 100vh;
background-attachment: fixed;
}
.vista{
border: 0.1px solid gray;
}*/
#padre{
background-color: #ffd180;
text-align: center;
width:40%;
margin-left:30%;
margin-top:4%;
}
#tbpadre, td{
border:0px solid black;
margin-right: auto;
margin-left: auto;
}
#mostrar{
height: 150px;
background-color: white;
border: 1px solid gray;
border-radius: 5px;
margin-left: 2%;
margin-right: 2%;
}
#padre{
border-radius: 5px;
border: 1px solid gray;
}

body{
background-size: 100vw 100vh;
background-attachment: fixed;
}
.vista{
border: 0.1px solid gray;
}

/*<style>
#padre{
background-color: #F6E3CE;
text-align: center;
width:40%;
margin-left:30%;
margin-top:4%;
}
#tbpadre, td{
border:0px solid black;
margin-right: auto;
margin-left: auto;
}
#mostrar{
height: 150px;
background-color: white;
border: 1px solid gray;
border-radius: 5px;
margin-left: 2%;
margin-right: 2%;
}
#padre{
border-radius: 5px;
border: 1px solid gray;
}

body{
background-size: 100vw 100vh;
background-attachment: fixed;
}
.vista{
border: 0.1px solid gray;
}
</style>*/